:root {
  --primary: #355070;
  --secondary: #6d597a;
  --accent: #b56576;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  color: #111;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}